<h1>Exemplo Post com Anexos</h1>
<p>Este projeto é um exemplo de como realizar um post utilizando o Rails e principalmente utilizando Api com AngularJs.</p>

<strong>
  <%= link_to 'Post com AngulaJs', angular_docs_path, data: { no_turbolink: true } %>
  |
  <%= link_to 'Post com Rails', docs_path%>
</strong>